* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

div::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(191, 191, 191, 0.8);
    /* color of the scroll thumb */
    border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
div,
button,
a,
nav {
    font-family: "Poppins", sans-serif;
    transition: all 0.4s;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
}

p,
button,
div {
    font-weight: 400;
}

body {
    margin: 0;
    position: relative;
}

nav {
    height: 64px;
    padding: 0 20px;
    background-image: linear-gradient(30deg, #189995, #a580e8);
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    z-index: 200;
    position: fixed;
    width: 100%;
    top: 0;

    .nav-brand {
        h2 {
            margin: 0;
            color: white;
        }
    }

    .nav-menu {
        position: relative;
        margin-left: auto;
        opacity: 1;

        a {
            margin: 0 25px;
            display: inline-block;
            text-decoration: none;
            color: white;
        }

        a:hover {
            transform: scale(1.2);
        }

        @media (max-width: 768px) {
            top: 64px;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            background-image: linear-gradient(80deg, #189995, #a580e8);
            display: flex;
            flex-direction: column;

            a {
                display: inline-block;
                margin: 0 auto;
                padding: 20px;
                width: 60%;
            }
        }
    }

    .hamburger {
        margin-left: auto;

        .hamburger-btn {
            color: white;
            font-size: 1.25rem;
        }

        @media (min-width: 769px) {
            display: none;
        }
    }

    .hamburger:hover {
        cursor: pointer;
        transform: scale(1.1);

        .hamburger-btn:hover {
            transform: rotateZ();
        }
    }
}

.main {
    position: relative;
    min-height: calc(100vh - 144px);
    width: 100%;
    margin: 0 auto;

    .landing {
        position: relative;
        width: 85%;
        display: flex;
        // flex-wrap: wrap ;
        align-items: center;
        justify-content: center;
        margin: 8% auto 9%;

        @media (max-width: 448px) {
            flex-wrap: wrap;

            img {
                margin: 100px 0 20px !important;
                padding: 0 20px;
            }
        }

        img {
            width: 35%;
            margin: 50px;

            @media (max-width: 448px) {
                width: calc(100% - 40px);
            }
        }

        .title {
            margin: 50px;
            width: auto;
            height: 60%;
            margin-left: 75px;

            h1 {
                font-size: 4.25rem;
                margin: 30px 0;
                color: #5f3d9a;
                line-height: 1.33;

                @media (min-width: 1600px) {
                    font-size: 6.25rem;
                }
            }

            @media (max-width: 1200px) {
                margin-left: 5px;

                h1 {
                    font-size: 4rem;
                }
            }

            @media (max-width: 1024px) {
                margin-left: 5px;

                h1 {
                    font-size: 3rem;
                }
            }

            @media (max-width: 768px) {
                h1 {
                    font-size: 3rem;
                }
            }

            @media (max-width: 448px) {
                margin: 0 auto 50px;
                text-align: center;

                h1 {
                    font-size: 3rem;
                }
            }

            button {
                // position: relative;
                border: none;
                border-radius: 8px;
                padding: 10px 20px;
                font-size: 1.5rem;
                background-image: linear-gradient(45deg, #2883ab, #a580e8);
                color: white;
                margin: 10px 0 20px;

                @media (min-width: 1600px) {
                    font-size: 2rem;
                }
            }

            button:hover {
                cursor: pointer;
                background-image: linear-gradient(-15deg, #2883ab, #a580e8);
                transform: scale(1.1);
            }
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .help {
        background-image: linear-gradient(
            80deg,
            rgba(24, 153, 149, 0.4),
            rgba(165, 128, 232, 0.4)
        );
    }

    .tab {
        padding: 1% 4%;
        min-height: 60vh;

        h1 {
            text-align: center;
            font-size: 4rem;
            color: #1b6d90;
        }

        @media (max-width: 1200px) {
            margin-left: 5px;

            h1 {
                font-size: 4rem;
            }
        }

        @media (max-width: 1024px) {
            margin-left: 5px;

            h1 {
                font-size: 3rem;
            }
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 3rem;
            }
        }

        @media (max-width: 448px) {
            text-align: center;

            h1 {
                font-size: 3rem;
            }
        }
    }

    .draw {
        text-align: center;
        padding-bottom: 80px;
        padding-left: 10px;
        padding-right: 10px;

        h1 {
            color: #5f3d9a;
        }

        .container {
            margin-bottom: 80px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .middle-container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: row wrap;
            }

            @media (max-width: 700px) { 
                flex-flow: row wrap;
            }

            .toolbox {
                box-sizing: border-box;
                background: linear-gradient(-15deg, #2883ab, #a580e8);
                padding: 20px 30px;
                margin: 0 20px 40px;
                border-radius: 4px;
                box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5),
                    4px 4px 6px 4px rgba(0, 0, 0, 0.1);
                text-align: left;
                position: relative;
                min-width: 330px;
                width: 20vw;
                max-width: 400px;
                max-height: 370px;
                overflow-y: auto;

                @media (max-width: 768px) {
                    width: 100%;
                }

                .btn-container {
                    text-align: center;

                    button,
                    .file {
                        margin: 0 5px 5px;
                        padding: 5px;
                        display: inline-block;
                        width: 100px;
                        border: none;
                        border-radius: 4px;
                        background-color: white;
                        font-size: 12px;

                        span {
                            display: inline-block;
                            background: linear-gradient(
                                -15deg,
                                #186c90,
                                #4e2798
                            );
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-weight: 500;
                        }
                    }
                }

                label {
                    color: white;
                    font-size: 12px;
                }

                input {
                    margin: 10px 0 10px !important;
                    margin-right: 10px !important;
                    cursor: pointer;
                    position: relative;
                }

                input[type="radio"] {
                    margin-right: 15px;
                    width: auto !important;
                }

                input[type="radio"]:after {
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    top: -2px;
                    left: -1px;
                    position: relative;
                    background-color: #d1d3d1;
                    content: "";
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }

                input[type="radio"]:checked:after {
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    top: -2px;
                    left: -1px;
                    position: relative;
                    background-color: #ffa500;
                    content: "";
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }

                .n-side {
                    width: 100%;
                    background: white;
                    padding: 8px;
                    border-radius: 4px;
                    color: #5f3d9a;
                    font-weight: 500;
                    font-family: "Poppins", sans-serif;
                    margin-bottom: 10px;
                }
            }

            #fileName {
                display: block;
                text-align: center;
                margin: 10px auto 0;
                color: rgb(110, 22, 39);
                font-size: 12px;
            }
        }

        .canvas-container {
            box-sizing: border-box;
            text-align: center;
            width: 100%;
            margin: 0 auto 40px;
            height: 520px;
            border: 10px solid;
            border-image-slice: 1;
            border-width: 5px;
            border-image-source: linear-gradient(-45deg, #2883ab, #a580e8);
            position: relative;
            z-index: 3;

            @media (max-width: 768px) {
                width: 100%;
                margin: 0 5px 40px;
            }

            canvas {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 3;
                background-color: white;
            }
        }
        .canvas-container::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-45deg, #2883ab, #a580e8);
            filter: blur(20px);
            z-index: -20;
        }
    }
}

.toolbox.middle {
    min-width: 200px !important;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: -80px;
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(
        80deg,
        rgba(24, 153, 149),
        rgba(165, 128, 232)
    );
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);

    h4 {
        margin: 15px auto 10px;
        text-align: center;
        color: white;
    }

    p {
        text-align: center;
        font-size: 0.8rem;
        margin: 10px;
        color: white;
        font-weight: 300;
    }
}

.none {
    @media (max-width: 768px) {
        left: -100% !important;
        opacity: 0 !important;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.top {
    box-sizing: border-box;
    width: 100% !important;
}

.bottom {
    margin: 0 !important;
}

// input[type="color"] {
//     box-sizing: border-box;
//     margin-top: 0 !important;
//     margin-bottom: 20px !important;
//     width: 100% !important;
// }

.coordinate {
    display: flex;
    align-items: center;
}

.mr {
    margin-right: 15px !important;
}
.coor {
    width: 70px !important;
    margin-bottom: 0 !important;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .left-form,
    .right-form {
        width: 50%;
        min-width: 200px;
    }
}

input[type="file"] {
    margin: 10px auto;
    display: none;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.input-container {
    margin-right: 10px;
}

.btn-container {
    button {
        margin-bottom: 10px !important;
    }
}

.form-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;

    @media (max-width: 1024px) {
        flex-flow: row wrap;
    }

    
    span {
        // position: absolute;
        float: right;
        margin-left: auto;
        font-size: 12px;
        top: 3px;
        right: 0;
        color: white;
    }

    .left,
    .right {
        position: relative;
        width: 100%;

        input[type="text"] {
            display: block;
            width: 100%;
        }
    }



}

input[type="range"] {
    margin: 30px 0 20px 0;
    -webkit-appearance: none;
    background-color: #f5f6f8;
    height: 5px;
    width: 100%;
    margin: 10px auto;
    border: solid 2px white;
    border-radius: 10px;
}

input[type="range"]:focus {
    outline: none;
}

// input[type="range"]::-webkit-slider-runnable-track {
//     position: relative;
//     height: 10px;
//     width: 100%;
//     -webkit-appearance: none;
//     color: #111111;
//     margin-top: -1px;
// }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #ffa500;
    border-radius: 50%;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border: solid 2px white;
}

.projection-input {
    width: 100%;
    background: white;
    padding: 8px;
    border-radius: 4px;
    color: #5f3d9a;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .left, .right {
        width: 100%  !important;

        input[type="range"] {
            width: 100%;
        }
    }
}

#perspective, #orthographic, #oblique {
    display: none;
}

.flexbox{
    display: flex;
    // flex-flow: row wrap;
}

.right-container {
    margin-bottom: 10px !important;
    display: flex;
    flex-direction: column !important;
    
    .toolbox {
        min-width: 200px !important;
        max-height: 236px !important;
        width: 25vw !important;

        .form-wrapper {
            display: flex;
            flex-direction: column;

            div {
                width: 100%;
            }

            input {
                position: relative;
                display: block;
                width: 100%;
            }
        }
    }
}

.tutorial-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 60px;

    .tutor {
        width: 520px;
        box-sizing: border-box;
        margin-right: 15px;

        h3 {
            font-size: 28px;
        }
    }
}

.demo {
    pointer-events: none;
    max-width: 150px;
}

.ds {
    padding: 5px 10px;
    border: none;
    color: white;
    background: linear-gradient(30deg, #189995, #a580e8)  ;
}

ol {
    margin-left: -20px;
}

li {
    margin-bottom: 5px;
    list-style-position: outside;
    font-size: 18px;
}