html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
div,
button,
a,
nav {
  font-family: "Poppins", sans-serif;
  transition: all 0.4s;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p,
button,
div {
  font-weight: 400;
}

body {
  margin: 0;
  position: relative;
}

nav {
  height: 64px;
  padding: 0 20px;
  background-image: linear-gradient(30deg, #189995, #a580e8);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  z-index: 200;
  position: fixed;
  width: calc(100% - 40px);
  top: 0;
}
nav .nav-brand h2 {
  margin: 0;
  color: white;
}
nav .nav-menu {
  position: relative;
  margin-left: auto;
  opacity: 1;
}
nav .nav-menu a {
  margin: 0 25px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
nav .nav-menu a:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  nav .nav-menu {
    top: 64px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(80deg, #189995, #a580e8);
    display: flex;
    flex-direction: column;
  }
  nav .nav-menu a {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    width: 60%;
  }
}
nav .hamburger {
  margin-left: auto;
}
nav .hamburger .hamburger-btn {
  color: white;
  font-size: 1.25rem;
}
@media (min-width: 769px) {
  nav .hamburger {
    display: none;
  }
}
nav .hamburger:hover {
  cursor: pointer;
  transform: scale(1.1);
}
nav .hamburger:hover .hamburger-btn:hover {
  transform: rotateZ();
}

.main {
  position: relative;
  min-height: calc(100vh - 144px);
  width: 100%;
  margin: 0 auto;
}
.main .landing {
  position: relative;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8% auto 9%;
}
@media (max-width: 448px) {
  .main .landing {
    flex-wrap: wrap;
  }
  .main .landing img {
    margin: 100px 0 20px !important;
    padding: 0 20px;
  }
}
.main .landing img {
  width: 35%;
  margin: 50px;
}
@media (max-width: 448px) {
  .main .landing img {
    width: calc(100% - 40px);
  }
}
.main .landing .title {
  margin: 50px;
  width: auto;
  height: 60%;
  margin-left: 75px;
}
.main .landing .title h1 {
  font-size: 4.25rem;
  margin: 30px 0;
  color: #5f3d9a;
  line-height: 1.33;
}
@media (min-width: 1600px) {
  .main .landing .title h1 {
    font-size: 6.25rem;
  }
}
@media (max-width: 1200px) {
  .main .landing .title {
    margin-left: 5px;
  }
  .main .landing .title h1 {
    font-size: 4rem;
  }
}
@media (max-width: 1024px) {
  .main .landing .title {
    margin-left: 5px;
  }
  .main .landing .title h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .main .landing .title h1 {
    font-size: 3rem;
  }
}
@media (max-width: 448px) {
  .main .landing .title {
    margin: 0 auto 50px;
    text-align: center;
  }
  .main .landing .title h1 {
    font-size: 3rem;
  }
}
.main .landing .title button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-image: linear-gradient(45deg, #2883ab, #a580e8);
  color: white;
  margin: 10px 0 20px;
}
@media (min-width: 1600px) {
  .main .landing .title button {
    font-size: 2rem;
  }
}
.main .landing .title button:hover {
  cursor: pointer;
  background-image: linear-gradient(-15deg, #2883ab, #a580e8);
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .main .landing {
    width: 100%;
  }
}
.main .help {
  background-image: linear-gradient(80deg, rgba(24, 153, 149, 0.4), rgba(165, 128, 232, 0.4));
}
.main .tab {
  padding: 1% 4%;
  min-height: 60vh;
}
.main .tab h1 {
  text-align: center;
  font-size: 4rem;
  color: #1b6d90;
}
@media (max-width: 1200px) {
  .main .tab {
    margin-left: 5px;
  }
  .main .tab h1 {
    font-size: 4rem;
  }
}
@media (max-width: 1024px) {
  .main .tab {
    margin-left: 5px;
  }
  .main .tab h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .main .tab h1 {
    font-size: 3rem;
  }
}
@media (max-width: 448px) {
  .main .tab {
    text-align: center;
  }
  .main .tab h1 {
    font-size: 3rem;
  }
}
.main .draw {
  text-align: center;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
}
.main .draw h1 {
  color: #5f3d9a;
}
.main .draw .container {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main .draw .container .toolbox {
  box-sizing: border-box;
  background: linear-gradient(-15deg, #2883ab, #a580e8);
  padding: 30px 40px;
  margin: 0 20px 40px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5), 4px 4px 6px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  width: 550px;
}
@media (max-width: 768px) {
  .main .draw .container .toolbox {
    width: 100%;
  }
}
.main .draw .container .toolbox .btn-container {
  text-align: center;
}
.main .draw .container .toolbox .btn-container button,
.main .draw .container .toolbox .btn-container .file {
  margin: 0 5px;
  padding: 5px;
  display: inline-block;
  width: 100px;
  border: none;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
}
.main .draw .container .toolbox .btn-container button span,
.main .draw .container .toolbox .btn-container .file span {
  display: inline-block;
  background: linear-gradient(-15deg, #186c90, #4e2798);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.main .draw .container .toolbox label {
  color: white;
}
.main .draw .container .toolbox input {
  margin: 10px 0 10px !important;
  margin-right: 10px !important;
  cursor: pointer;
  position: relative;
}
.main .draw .container .toolbox input[type=radio] {
  margin-right: 15px;
  width: auto !important;
}
.main .draw .container .toolbox input[type=radio]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.main .draw .container .toolbox input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.main .draw .container .toolbox .n-side {
  width: 100%;
  background: white;
  padding: 8px;
  border-radius: 4px;
  color: #5f3d9a;
  font-weight: 500;
}
.main .draw .container #fileName {
  display: block;
  text-align: center;
  margin: 10px auto 0;
  color: #6e1627;
  font-size: 12px;
}
.main .draw .canvas-container {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin: 0 auto 40px;
  height: 90vh;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(-45deg, #2883ab, #a580e8);
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .main .draw .canvas-container {
    width: 100%;
    margin: 0 5px 40px;
  }
}
.main .draw .canvas-container canvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  background-color: white;
}
.main .draw .canvas-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #2883ab, #a580e8);
  filter: blur(20px);
  z-index: -20;
}

.footer {
  margin-top: -80px;
  height: 80px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(80deg, #189995, #a580e8);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
.footer h4 {
  margin: 15px auto 10px;
  text-align: center;
  color: white;
}
.footer p {
  text-align: center;
  font-size: 0.8rem;
  margin: 10px;
  color: white;
  font-weight: 300;
}

@media (max-width: 768px) {
  .none {
    left: -100% !important;
    opacity: 0 !important;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.top {
  box-sizing: border-box;
  width: 100% !important;
}

.bottom {
  margin: 0 !important;
}

.coordinate {
  display: flex;
  align-items: center;
}

.mr {
  margin-right: 15px !important;
}

.coor {
  width: 70px !important;
  margin-bottom: 0 !important;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.form-container .left-form,
.form-container .right-form {
  width: 50%;
  min-width: 200px;
}

input[type=file] {
  margin: 10px auto;
  display: none;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  margin-right: 10px;
}

.btn-container button {
  margin-bottom: 10px !important;
}

.form-wrapper {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .form-wrapper {
    flex-flow: row wrap;
  }
}
.form-wrapper span {
  position: absolute;
  right: 0;
  color: white;
}
.form-wrapper .left,
.form-wrapper .right {
  position: relative;
  width: 50%;
  margin: 0 15px;
}
.form-wrapper .left input[type=text],
.form-wrapper .right input[type=text] {
  display: block;
  width: 100%;
}

input[type=range] {
  margin: 30px 0 20px 0;
  -webkit-appearance: none;
  background-color: #f5f6f8;
  height: 5px;
  width: 100%;
  margin: 10px auto;
  border: solid 2px white;
  border-radius: 10px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #ffa500;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  border: solid 2px white;
}

/*# sourceMappingURL=style.css.map */
